
<!doctype html>
<html lang="fr" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>{% block title %}{% endblock %}</title>

    

    <!-- Bootstrap core CSS -->
<link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet" crossorigin="anonymous">



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/cover.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/css/styles.css')}}" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark back">
    
<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div class="cover-container  p-3 mx-auto flex-column">
      <h3 class="float-md-start mb-0">Art's Visuel</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        <a class="nav-link" href="#">Apropos</a>
        <a class="nav-link" href="#">Portefolio</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer class="mt-auto text-white-50">
    <p>Vidéaste&Photographe <a href="#" class="text-white"></a>, by <a href="#" class="text-white">@TommyRAMIHOATRARIVO</a>.</p>
  </footer>
</div>


    
  </body>
</html>
